
# ======
# Global
# ======
**/.DS_Store
**/.cache

# ========
# Hardware
# ========
hardware/**/**-backups/**
hardware/**/*.lck
hardware/**/*auto_saved*

# ========
# Software
# ========
software/**/build/**
